@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}


body {
  background-color: pink;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  color: white;
  font-size: 2rem
}

header {
  width: 100vw;
  height: 50px;
  background: white;
  position: fixed;
  display: flex;
  justify-content: flex-end; 
  z-index: 1; 
}

nav {
  position: absolute;
  right: 30px;
  top: 5px;
}

nav > ul {
  display: flex;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  font-size: 1.5rem;

}

li > a {
  color: gray;
  text-decoration: none;
  
}

li > a:hover {
  
  background-color: pink;
}

#welcome-section {
 
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: pink;
  position: absolute;
  margin-top: 50vh;
}

#welcome-section h3 {
  color: gray;
}

.hello {
  border: 1px solid gray;
  text-align: center;
}


#projects {
  position: absolute;
  top: 130vh;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

img {
  width: 250px;
  height: 250px;
  padding: 10px;
  object-fit: cover;
  border-radius: 20px;
}


.information {
   position: absolute;
  top: 280vh;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.information a {
 text-decoration: none;
 color: gray;
 font-size: 1.5rem;
}

.contact {
  border: 1px solid gray;
}

@media only screen and (max-width: 330px) {
  .information {
    top: 350vh;
  }
  body {
    font-size: 1rem;
  }

  li > a {
    font-size: 1rem;
  }
  nav > ul {
  display: block;
}
  header {
    height: 85px;
  }
  .information a {
    font-size: 1rem;
  }

  
}

@media only screen and (min-width: 1000px) {
  #projects {
    top: 110vh;
  }

  .information {
    top: 200vh;
    height: 70vh;
  }
}

@media only screen and (max-width: 550px) {
  .information {
    top: 350vh;
  }
}
